.module
	.module-content
		ul.listing
			li.listItem
				.listItem--content
					.listItem--utils
						button.btn
							i.material-icons keyboard_arrow_up
						span.votes_count 179461
						button.btn
							i.material-icons keyboard_arrow_down
					a(href="#")
						h4 Enrique Peñalosa
					.block
						a.tag(href="#") Partido Verde
						a.tag(href="#") Alcaldía
					a.toggleData(href="#")
						i.material-icons more_vert
