.module
	.module-content
		form
			input(type="text", placeholder="Buscar..." ng-model="search.$")
.module
	ul.listing
		li.listItem(ng-repeat="official in officials|filter:search|orderBy:'-voteCount'")
			.listItem--content.module-content
				.votes
					button.btn-vote(ng-click="upVote($index, official._id, user.id)")
						i.material-icons keyboard_arrow_up
					span.votes_count {{official.voteCount}}
					button.btn-vote(ng-click="downVote($index, official._id, user.id)")
						i.material-icons keyboard_arrow_down
				a(href="#")
					h4 {{official.fullname}}
				.block
					a.tag(href="#", ng-repeat="party in official.parties") {{party}}
					a.tag(href="#", ng-repeat="pos in official.position") {{pos}}
				p {{official.bio}}
				a.toggleData(href="#")
					i.material-icons more_vert
			.comments
				form(ng-submit="comment()")
					textarea(name="text")
					input(type="hidden", name="user", ng-value="{{user.id}}")
					input(type="hidden", name="official", ng-value="{{official._id}}")
					button.btn(type="submit") Comment
				ul
					li
						.comment_user javcferrans
							
						.comment-block
							p Que señor tan malo
						.votes
							button.btn-vote(ng-click="upVote($index, official._id, user.id)")
								i.material-icons keyboard_arrow_up
							span.votes_count 0
							button.btn-vote(ng-click="downVote($index, official._id, user.id)")
								i.material-icons keyboard_arrow_down
			

