html
	head
		title!=title
		link(href='https://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css')
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", href="static/css/style.css")
		base(href="/")
	body(ng-app="sparrowApp")
		header
			a#logo(href="/") Transparency Project
			.right
				if user
					a(href="#")!=user.username
				else
					button.auth(ng-click='overlay=!overlay') Sign In / Register
		nav
			a(href="#") Whatevs
		main(ng-view)
		.overlay(ng-if='overlay', ng-click='overlay=!overlay')
			.authforms
				form(action="/auth/login" method="post")
					input(type="text" name="username" placeholder="username")
					input(type="password" name="password" placeholder="password")
					p.message!=message 
					button.btn-block(type="submit") Login
				.separator
					span or
				form(action="/auth/register" method="post")
					input(type="email", name="email", placeholder="email")
					input(type="text", name="username", placeholder="username")
					input(type="password", name="password", placeholder="password")
					p.message!=reg_message
					button.btn-block(type="submit") Register
		script(src="assets/angular/angular.min.js")
		script(src="assets/angular-route/angular-route.min.js")
		script(src="assets/angular-resource/angular-resource.min.js")
		script(src="static/js/min/app.min.js")
		script(src="static/js/min/services.min.js")
		script(src="static/js/min/controllers.min.js")