html
	head
		title!=title
		link(href='https://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css')
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", href="static/css/style.css")
	body
		header
			a#logo(href="/") Transparency Project
			button.auth Sign In / Register
			.authforms
				form(action="/auth/login" method="post")
					input(type="text" name="username" placeholder="username")
					input(type="password" name="password" placeholder="password")
					button.btn-block(type="submit") Login
		nav
			a(href="#") Whatevs
		main
			block content