html{
	box-sizing:border-box;
	*{
		box-sizing:inherit;
	}
}

body{
	background: $light;
	@include breakpoint(medium) {
		padding-left: 220px;
	}
}

/* Base Layout */

header{
	//background-image: linear-gradient($sparrow, scale-color($sparrow, $lightness:5%), $sparrow);
	background: scale-color($black, $lightness:-20%);
	border-bottom: 1px solid $sparrow;
	padding: 0 1em;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	z-index: 99999;

	.right{
		float: right;
		*{
			line-height: 40px;
			color:#fff;
			text-decoration: none;
			font-size: .8em;
		}
	}
}

nav{
	left: -220px;
	position: fixed;
	width: 220px;
	background: $black;
	height: 100%;
	top: 40px;
	//box-shadow: inset -5px 0 10px #222;
	a{
		padding: 1em;
		color:#fff;
		display: block;
		text-transform: uppercase;
		text-decoration: none;
	}

	@include breakpoint(medium) {
		left: 0;
	}
}

main{
	position: relative;
	top: 40px;
	padding: 1em;
}

#logo{
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 2px 1px 2px rgba(#000,.1);
	font-weight: 300;
	font-size: .8em;
	line-height: 40px;
}

.overlay{
	position: fixed;
	background: rgba(#111, .6);
	width: 100%;
	height: 100%;
	z-index: 99999;
	top: 0;
	left: 0;
}