html{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color:#444;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

h1, h2, h3, h4, h5{
	font-weight: 400;
}

h4{
	font-size: 1.3em;
	margin-bottom: .2em;
}

p{
	line-height: 1.5;
}

.btn-vote{
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;

	&:focus, &:active{
		outline: none;
	}
}

.separator{
	text-align: center;
	position: relative;
	padding: 1em 0;

	&:before{
		content:'';
		border-top: 1px solid #ddd;
		position: absolute;
		top: 50%;
		display: block;
		width: 100%;
	}

	span{
		background: #fff;
		display: inline-block;
		padding: 1em;
		position: relative;
	}
}